#locationBox {
  margin: 15px 0px 30px 0px;
}

#locationBtn {
  margin-left: 5px;
}

.subtitle {
  margin: 20px 0px 20px 0px;
  font-size: 1.15rem;
}

.main-title {
  width: 80%;
  margin: 15px 0px 50px 0px;
}

.main-character {
  width: 70%;
  display: inline-block;
}

#startBtn {
  width: 350px;
  height: 60px;
  position: absolute;
  bottom: 8rem;
  border-radius: 8px;
  border: 0px;
  font-size: 1.5rem;
  color: #fefbf9;
  box-shadow: 1px 7px 6px -1px #c5c5c5;
}

#startBtn:hover {
  color: #a7e4e2;
}

#locationBtn {
  background-color: white;
}
