body {
  width: 100%;
  height: 100%;
  background: #242424;
}

#result {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #242424;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* 다시 뒤로 갔을 때 애니메이션을 다시 실행하지 않고 해제시키기 위한 class */
.noanimation {
  opacity: 1 !important;
  animation: none !important;
}

.nocongrats {
  opacity: 0 !important;
  animation: none !important;
}

.head {
  overflow: visible;
  position: relative;
  top: 30px;
  opacity: 0;
  font-family: "BMHANNAPro";
  font-size: 3.9em;
  color: white;

  animation: fadein-up 2s;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
}

#foodName {
  font-family: "BMHANNAPro";
  font-size: 1em;
  color: #ff9e2c;
}

.congrats {
  opacity: 1;
  text-align: center;
  animation: fadeout 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.food {
  opacity: 0;
  font-family: "BMHANNAPro";
  font-size: 8rem;

  position: relative;
  text-align: center;
  top: -230px;
  margin-bottom: -160px;

  color: #ff9e2c;

  animation: fadein 2s;
  animation-delay: 1.7s;
  animation-fill-mode: forwards;
}

.hashtag {
  opacity: 0;
  font-family: "BMHANNAPro";
  font-size: 1.5em;
  color: #2ac1bc;
  margin-bottom: 20px;

  animation: fadein 1s;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
}

#explanation {
  font-family: "BMHANNAPro";
  color: white;
}

.buttons {
  display: flex;
  flex-direction: row;
}

#hotplace,
#again {
  opacity: 0;
  width: 170px;
  height: 50px;
  border-radius: 8px;
  border: 0px;
  font-size: 1.3rem;
  color: #fefbf9;
  box-shadow: 1px 7px 6px -1px #2b2a2a;
  margin: 2px;

  animation: fadein-up 1s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}

#hotplace {
  margin-right: 10px;
}

#hotplace:hover,
#again:hover {
  color: #a7e4e2;
}
